.top-in
  .top-in__contents
    .top-in__contents__texts
      %p
        %span.top-in__contents__texts--text1 簡単応募！求人情報満載！
        %br
        %span.top-in__contents__texts--text2 求人情報を探す！
      .top-in__contents__texts--regist-btn
        = link_to "クリック！", usertoppage_index_path 
    .top-in__contents__texts
      %p
        %span.top-in__contents__texts--text1 求人情報をいつでも自由投稿！
        %br
        %span.top-in__contents__texts--text2 掲載ご希望の企業様
      .top-in__contents__texts--regist-btn
        = link_to "会員登録", toppages_path 


      







