%wrapper
  %table
    %thead
      %tr
        %th 雇用形態
        %th 職種
        %th 企業名
        %th 勤務地
        %th 給与
        %th 詳細
    %tbody
      %tr
        %td 正社員 
        %td プリグラマー
        %td フリープランニング
        %td 京都市南区
        %td 24万〜
        %td= link_to "詳細 ", '#'
      
